#about-container {
    width:100vw;
    height:100vh;
    background:rgb(43, 43, 43);
    z-index:-1;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
}

#boz {
    position:absolute;
    width:50%;
    height:100%;
    z-index:2;
    left:2%;
    filter:brightness(100%)contrast(80%)saturate(70%);
    transition-duration:.7s;
}


#boz:hover {
    transition-duration:1s;
    filter:brightness(100%)contrast(100%)saturate(100%);
}

/*bg overlay sec container*/
#overlay {
    position:absolute;
    top:120%;
    z-index:2;
    width:100%;
    background:#ccc; /*#fabcbc*/
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');
#storyabout {
    margin-right:2%;
    margin:75px 2% 75px 0px;
    float:right;
    text-align:right;
    color:rgb(15, 15, 15);
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    font-size:22px;
    line-height:35px;
    letter-spacing:2.5px;
    border-right:4px #000 solid;
    padding-right:20px;
}

#storyabout a {
    text-decoration:none;
    color:rgb(15, 15, 15);
    cursor:pointer;
    text-shadow:-.5px -.5px 1px rgb(41, 117, 216);
    transition-duration:.4s;
}

#storyabout a:hover {
    transition-duration:.4s;
    color:rgb(15, 15, 15);
    text-shadow:0px 0px 0px rgb(41, 117, 216);
}

/*tools*/

#tools {
    position:absolute;
    font-family: 'Montserrat', sans-serif;
    top:178%;
    left:54%;
}

#tools li {
    color:#ccc;
    font-size:20px;
    line-height:40px;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;

}

