@import url('https://fonts.googleapis.com/css?family=Montserrat');

#header1 {
    position:absolute;
    left:50%;
    top:48%;
    transform:translate(-50%,-48%);
    color:#fff;
    font-size:40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:5.5px;
    font-weight:700;
    line-height:50px;
    text-shadow:-4px -1.7px 0px #000,
    3.1px 1px 0px rgb(110, 110, 110);
    /*glitch & op anim*/
    /*animation:headerop 1.8s infinite;*/
    opacity:0;
}

#header1.headerstart {
    animation:headerjoin 2s forwards;
    -webkit-animation:headerjoin 2s forwards;
    -moz-animation:headerjoin 2s forwards;
    -ms-animation:headerjoin 2s forwards;
    -o-animation:headerjoin 2s forwards;
    opacity:1;
}

@keyframes headerjoin {
    0%{opacity:0;}
    80%,85%,90%,95% {
        opacity:1;left:48%;transform:translate(-50%,-48%);
        text-shadow:-3.9px -1.6px 0px #000,
        3.2px 1.1px 0px rgb(110, 110, 110);
    }
    82.5%,75.5%,92.5% {
        opacity:0;left:52%;top:48%;
        transform:translate(-48%,-52%);
        text-shadow:-4.1px -1.8px 0px #000,
        3px .9px 0px rgb(110, 110, 110);
    }
    100%{opacity:1;}
}
@-webkit-keyframes headerjoin {
    0%{opacity:0;}
    80%,85%,90%,95% {
        opacity:1;left:48%;transform:translate(-50%,-48%);
        text-shadow:-3.9px -1.6px 0px #000,
        3.2px 1.1px 0px rgb(110, 110, 110);
    }
    82.5%,75.5%,92.5% {
        opacity:0;left:52%;top:48%;
        transform:translate(-48%,-52%);
        text-shadow:-4.1px -1.8px 0px #000,
        3px .9px 0px rgb(110, 110, 110);
    }
    100%{opacity:1;}
}
@-moz-keyframes headerjoin {
    0%{opacity:0;}
    80%,85%,90%,95% {
        opacity:1;left:48%;transform:translate(-50%,-48%);
        text-shadow:-3.9px -1.6px 0px #000,
        3.2px 1.1px 0px rgb(110, 110, 110);
    }
    82.5%,75.5%,92.5% {
        opacity:0;left:52%;top:48%;
        transform:translate(-48%,-52%);
        text-shadow:-4.1px -1.8px 0px #000,
        3px .9px 0px rgb(110, 110, 110);
    }
    100%{opacity:1;}
}
@-ms-keyframes headerjoin {
    0%{opacity:0;}
    80%,85%,90%,95% {
        opacity:1;left:48%;transform:translate(-50%,-48%);
        text-shadow:-3.9px -1.6px 0px #000,
        3.2px 1.1px 0px rgb(110, 110, 110);
    }
    82.5%,75.5%,92.5% {
        opacity:0;left:52%;top:48%;
        transform:translate(-48%,-52%);
        text-shadow:-4.1px -1.8px 0px #000,
        3px .9px 0px rgb(110, 110, 110);
    }
    100%{opacity:1;}
}
@-o-keyframes headerjoin {
    0%{opacity:0;}
    80%,85%,90%,95% {
        opacity:1;left:48%;transform:translate(-50%,-48%);
        text-shadow:-3.9px -1.6px 0px #000,
        3.2px 1.1px 0px rgb(110, 110, 110);
    }
    82.5%,75.5%,92.5% {
        opacity:0;left:52%;top:48%;
        transform:translate(-48%,-52%);
        text-shadow:-4.1px -1.8px 0px #000,
        3px .9px 0px rgb(110, 110, 110);
    }
    100%{opacity:1;}
}

#header1:hover {
    animation-fill-mode:both!important;
    pointer-events:none;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    cursor:none;
}

#header2 {
    position:absolute;
    left:50%;
    top:59%;
    transform:translate(-50%,-59%);
    color:#fff;
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:4.5px;
    font-weight:400;
    line-height:30px;
    border-top:3px #000 solid;
    text-shadow:-0.5px -0.5px 1px #000,
    0.5px 0.5px 1px #000;
    padding:0px 25px 0px 25px;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    opacity:0;
}
#header2.header2start{
    /*personal website header*/
    animation-delay:1.55s!important;
    animation:personalwebsite .45s forwards;
    -webkit-animation-delay:1.55s!important;
    -webkit-animation:personalwebsite .45s forwards;
    -moz-animation-delay:1.55s!important;
    -moz-animation:personalwebsite .45s forwards;
    -ms-animation-delay:1.55s!important;
    -ms-animation:personalwebsite .45s forwards;
    -o-animation-delay:1.55s!important;
    -o-animation:personalwebsite .45s forwards;
}

@keyframes personalwebsite {
0%{opacity:0;padding:15px 25px 0px 25px;}
100%{opacity:1;padding:0px 25px 0px 25px;}}
@-webkit-keyframes personalwebsite {
0%{opacity:0;padding:15px 25px 0px 25px;}
100%{opacity:1;padding:0px 25px 0px 25px;}}
@-moz-keyframes personalwebsite {
0%{opacity:0;padding:15px 25px 0px 25px;}
100%{opacity:1;padding:0px 25px 0px 25px;}}
@-ms-keyframes personalwebsite {
0%{opacity:0;padding:15px 25px 0px 25px;}
100%{opacity:1;padding:0px 25px 0px 25px;}}
@-o-keyframes personalwebsite {
0%{opacity:0;padding:15px 25px 0px 25px;}
100%{opacity:1;padding:0px 25px 0px 25px;}}

#workheader {
    position:absolute;
    left:50%;
    top:53%;
    transform:translate(-50%,-53%);
    color:#fff;
    font-size:16px;
    letter-spacing:4px;
    text-shadow:-0.5px -0.5px 1px #000,
    0.5px 0.5px 1px #000;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
    opacity:0;

}

#workheader.workheaderstart {
    animation-delay:1.1s!important;
    animation:workhejoin .35s forwards;
    -webkit-animation-delay:1.1s!important;
    -webkit-animation:workhejoin .35s forwards;
    -moz-animation-delay:1.1s!important;
    -moz-animation:workhejoin .35s forwards;
    -ms-animation-delay:1.1s!important;
    -ms-animation:workhejoin .35s forwards;
    -o-animation-delay:1.1s!important;
    -o-animation:workhejoin .35s forwards;
}

@keyframes workhejoin {
    0%{opacity:0;filter:blur(50px);}
    100%{opacity:1;filter:blur(0px);}
}
@-webkit-keyframes workhejoin {
    0%{opacity:0;filter:blur(50px);}
    100%{opacity:1;filter:blur(0px);}
}
@-moz-keyframes workhejoin {
    0%{opacity:0;filter:blur(50px);}
    100%{opacity:1;filter:blur(0px);}
}
@-ms-keyframes workhejoin {
    0%{opacity:0;filter:blur(50px);}
    100%{opacity:1;filter:blur(0px);}
}
@-o-keyframes workhejoin {
    0%{opacity:0;filter:blur(50px);}
    100%{opacity:1;filter:blur(0px);}
}

