@import url('https://fonts.googleapis.com/css?family=Montserrat');
::selection {
    background-color:transparent;
}

body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:hidden;
    background:#000;
}

#bg {
    position:absolute;
    z-index:-1;
    background: rgb(12,12,12); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(20, 20, 20) 0%, rgba(22,22,22,1) 50%, rgb(20, 20, 20) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(20, 20, 20) 0%,rgba(22,22,22,1) 50%,rgb(20, 20, 20) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(20, 20, 20) 0%,rgba(22,22,22,1) 50%,rgb(20, 20, 20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#0c0c0c',GradientType=1 ); 
    width:100vw;
    height:100vh;
}

img {
    overflow: hidden;
}

#progress {
    height:1px;
    background:rgba(126,126,126);
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    opacity:1;
    z-index:2;
    transition-duration:0.1s;
    animation:progress .7s infinite;
}
@keyframes progress {
    0%{
        height:1px;
    }

    50%{
        box-shadow:0px 0px 10px 2px rgba(147, 165, 152,.5);
        height:8px;
    }

    100%{
        height:1px;
    }
}
#all {
    opacity:0;

}
.fadeIn {
    opacity:1!important;
    transition-duration:1s!important;
}
#progress.fadeOut {
    opacity:0;
    transition-duration:.4s!important;
}