
:root {
    --aboutmesize:calc(20px*8px);

}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*deffault styles = id's*/
#aboutme,#work,#contact {
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    letter-spacing:5px;
    text-shadow:-0.5px -0.5px 0px #000,
    0.5px 0.5px 0px #000;
    transition-duration:.5s;
    padding:50px 10px 10px 10px;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    opacity:0;
    animation-delay:1.5s!important;
    animation:navjoin .5s forwards;
}

@keyframes navjoin {
    0%{
        opacity:0;
        padding-top:50px;
    }

    100%{
        opacity:1;
        padding-top:10px;
    }
}

/*active nav elems - changed - already clicked*/
#about.active,#wo.active,#co.active {
    background-color:transparent!important;
    padding:0;
    font-size:15px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:2.5px;
    opacity:0;
    animation:secnavjoin .35s forwards;
}

@keyframes secnavjoin {
    0% {
        filter:blur(40px);
        opacity:0;
    }

    100% {
        filter:blur(0px);
        opacity:1;
    }
}

#aboutme:hover,#work:hover,#contact:hover {
    cursor:pointer;
    transition-duration:.4s;
    letter-spacing:3.2px;
    background-color:rgba(0,0,0,.55);
    padding:8px 15px 8px 15px;
}

#aboutme{
    position:absolute;
    top:65%;
    left:40%;
    transform:translate(-40%,-65%);
    z-index:7;
}
/*after click aboutme*/
#about {
    position:fixed;
    top:5%;
    right:25%!important;
    transform:translate(25%,5%)!important;
    z-index:7;
}

#work {
    position:absolute;
    top:65%;
    right:40%;
    transform:translate(40%,-65%);
    z-index:7;
}

#wo {
    position:fixed!important;
    top:5%;
    right:15%;
    transform:translate(15%,0%);
    z-index:7;
}

#contact {
    position:absolute;
    top:74%;
    right:50%;
    transform:translate(50%,-74%);
    z-index:7;
}

#co {
    position:fixed!important;
    top:5%;
    right:5%;
    transform:translate(5%,0%);
    z-index:7;
}

#about:hover,#wo:hover,#co:hover {
    cursor:pointer;
    transition-duration:.4s;
    color:#ccc;
    
}


