* {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.slide {display: none;}
img {vertical-align: middle;}

/*main container*/
#slide-container {
    top:0%;
    width:100vw;
    height:100vh;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;

}

/* Slideshow container */
.slideshow-container {
    position: absolute;
    margin: auto;
    width:100%;    
    /*ZINDEX*/
    z-index:-1;
    opacity:0;
    filter:blur(80px);
    animation-delay:1.9s!important;
    animation:sliderjoin .5s forwards;
    -webkit-animation-delay:1.9s!important;
    -webkit-animation:sliderjoin .5s forwards;
    -moz-animation-delay:1.9s!important;
    -moz-animation:sliderjoin .5s forwards;
    -ms-animation-delay:1.9s!important;
    -ms-animation:sliderjoin .5s forwards;
    -o-animation-delay:1.9s!important;
    -o-animation:sliderjoin .5s forwards;
}

@keyframes sliderjoin {
    0%{opacity:0;filter:blur(200px);}
    100%{opacity:1;filter:blur(0px);}
}
@-webkit-keyframes sliderjoin {
    0%{opacity:0;filter:blur(200px);}
    100%{opacity:1;filter:blur(0px);}
}
@-moz-keyframes sliderjoin {
    0%{opacity:0;filter:blur(200px);}
    100%{opacity:1;filter:blur(0px);}
}
@-ms-keyframes sliderjoin {
    0%{opacity:0;filter:blur(200px);}
    100%{opacity:1;filter:blur(0px);}
}
@-o-keyframes sliderjoin {
    0%{opacity:0;filter:blur(200px);}
    100%{opacity:1;filter:blur(0px);}
}

.slideshow-container img {width:100%;}

/* Caption text */
.text {
    position: absolute;
    left:2%;
    bottom:-5%;
    transform:translateX(-2%);
    font-family: 'Montserrat', sans-serif;
    letter-spacing:4.7px;
    color: #ccc;
    font-size:22px;
    background-color:rgba(0,0,0,.8);
    padding:5px 20px 5px 20px;
}

/* The dots/bullets/indicators */
.dot {
    display:none;
}

.active {
    animation-fill-mode:both;
    animation:dot .7s forwards;
    background-color: #ccc;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 5.5s;
    -ms-animation-name: fade;
    -ms-animation-duration: 5.5s;
    -o-animation-name: fade;
    -o-animation-duration: 5.5s;
}

@keyframes fade {
    0% {opacity: 0;} 
    50% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@-webkit-keyframes fade {
    0% {opacity: 0;} 
    50% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@-moz-keyframes fade {
    0% {opacity: 0;} 
    50% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@-ms-keyframes fade {
    0% {opacity: 0;} 
    50% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@-o-keyframes fade {
    0% {opacity: 0;} 
    50% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

#dots {
    position: absolute;
    right:2%;
    bottom:-5%;
    transform:translateX(2%);
    z-index:10;

}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

