#contact-f {
    margin:0;
    padding:0;}/*
    opacity:0;
    animation-delay:1.7s!important;
    animation:formjoin 1s forwards;
}

@keyframes formjoin {
    0%{
        opacity:0;
    }

    100%{
        opacity:1;

    }
}*/

/*General input*/
#name,#email {
    position:absolute;
    border:0px transparent solid;
    border-bottom:2px rgba(231, 231, 231,.8) solid;
    background:transparent!important;
    padding-bottom:5px;
    color:#fff;
}


#name {
    top:40%;
    left:30%;
    transform:translate(-30%,-40%);
    font-size:24px;

    letter-spacing:2.5px;
    transition-duration:.2s;

}

/*general clicked*/
#name.clicked,#email.clicked {
    transition-duration:.2s;
    padding-bottom:1px;
}

/*email*/
#email {
    top:40%;
    right:30%;
    transform:translate(30%,-40%);
    font-size:24px;
    letter-spacing:2.5px;
    transition-duration:.2s;
    
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*textarea*/
#textarea {
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-70%);
    width:650px;
    height:150px;
    background-color:transparent;
    border:0px transparent;
    border-top:4px rgba(231, 231, 231,.8) solid;
    border-bottom:4px rgba(231, 231, 231,.8) solid;    
    padding:50px 0px 0px 50px;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:2.5px;
    border-radius:4px;
}

textarea::-moz-placeholder {

}

#submit {
    position:absolute;
    top:90%;
    left:50%;
    transform:translate(-50%,-90%);
    font-size:23px;
    color:rgb(30, 30, 31);
    font-family: 'Montserrat', sans-serif;
    background:transparent;
    letter-spacing:5.5px;
    border:none;
    background: rgb(204,204,204); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=1 );
    padding:4px 25px 4px 25px;
    transition-duration:.4s;

}

#submit:hover {
    cursor:pointer;
    transition-duration:.4s;
    background: rgb(32, 32, 32); /* Old browsers */
    color:#fff;
}

