
html {
    overflow-x:hidden;
    overflow-y:hidden;
}
#body {
    margin:0;
    padding:0;
}

#bg {
    position:absolute;
    z-index:-1;
    width:100vw;
    height:100vh;
    background: rgb(178,190,195); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(178,190,195,1) 7%, rgba(124,133,147,1) 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(178,190,195,1) 7%,rgba(124,133,147,1) 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(178,190,195,1) 7%,rgba(124,133,147,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2bec3', endColorstr='#7c8593',GradientType=1 );
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
#ydt-header {
    position:absolute;
    top:14%;
    left:-50%;
    transform:translate(50%,-14%);
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    letter-spacing:4px;
    font-weight:800;
    color:#fff;
    pointer-events:none;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    animation:joinhe1 .7s forwards;
    -webkit-animation:joinhe1 .7s forwards;
    -moz-animation:joinhe1 .7s forwards;
    -ms-animation:joinhe1 .7s forwards;
    -o-animation:joinhe1 .7s forwards;
}

@keyframes joinhe1 {
    0%{left:-50%;transform:translate(-50%,-18%)rotateX(0deg);}
    100%{left:50%;transform:translate(-50%,-18%)rotateX(360deg);}
}
@-webkit-keyframes joinhe1 {
    0%{left:-50%;transform:translate(-50%,-18%)rotateX(0deg);}
    100%{left:50%;transform:translate(-50%,-18%)rotateX(360deg);}
}
@-moz-keyframes joinhe1 {
    0%{left:-50%;transform:translate(-50%,-18%)rotateX(0deg);}
    100%{left:50%;transform:translate(-50%,-18%)rotateX(360deg);}
}
@-ms-keyframes joinhe1 {
    0%{left:-50%;transform:translate(-50%,-18%)rotateX(0deg);}
    100%{left:50%;transform:translate(-50%,-18%)rotateX(360deg);}
}
@-o-keyframes joinhe1 {
    0%{left:-50%;transform:translate(-50%,-18%)rotateX(0deg);}
    100%{left:50%;transform:translate(-50%,-18%)rotateX(360deg);}
}

#ydt-copy {
    position:absolute;
    top:14%;
    right:-50%;
    transform:translate(-50%,-14%)rotateX(75deg);
    font-family: 'Raleway', sans-serif;
    font-size:35px;
    letter-spacing:4px;
    font-weight:800;
    pointer-events:none;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    animation:joinhe2 .7s forwards;
    -webkit-animation:joinhe2 .7s forwards;
    -moz-animation:joinhe2 .7s forwards;
    -ms-animation:joinhe2 .7s forwards;
    -o-animation:joinhe2 .7s forwards;
}

@keyframes joinhe2 {
    0%{right:-50%;transform:translate(50%,-14%)rotateX(0deg);}
    100%{right:50%;transform:translate(50%,-14%)rotateX(360deg);}
}
@-webkit-keyframes joinhe2 {
    0%{right:-50%;transform:translate(50%,-14%)rotateX(0deg);}
    100%{right:50%;transform:translate(50%,-14%)rotateX(360deg);}
}
@-moz-keyframes joinhe2 {
    0%{right:-50%;transform:translate(50%,-14%)rotateX(0deg);}
    100%{right:50%;transform:translate(50%,-14%)rotateX(360deg);}
}
@-ms-keyframes joinhe2 {
    0%{right:-50%;transform:translate(50%,-14%)rotateX(0deg);}
    100%{right:50%;transform:translate(50%,-14%)rotateX(360deg);}
}
@-o-keyframes joinhe2 {
    0%{right:-50%;transform:translate(50%,-14%)rotateX(0deg);}
    100%{right:50%;transform:translate(50%,-14%)rotateX(360deg);}
}

#line1 {
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-20%);
    width:0px;
    border-bottom:2px #000 solid;
    animation-delay:.7s!important;
    animation:linejoin 1s forwards;
    -webkit-animation-delay:.7s!important;
    -webkit-animation:linejoin 1s forwards;
    -moz-animation-delay:.7s!important;
    -moz-animation:linejoin 1s forwards;
    -ms-animation-delay:.7s!important;
    -ms-animation:linejoin 1s forwards;
    -o-animation-delay:.7s!important;
    -o-animation:linejoin 1s forwards;
}

@keyframes linejoin {
    0%{width:0px;}
    100%{width:300px;}
}
@-webkit-keyframes linejoin {
    0%{width:0px;}
    100%{width:300px;}
}
@-moz-keyframes linejoin {
    0%{width:0px;}
    100%{width:300px;}
}
@-ms-keyframes linejoin {
    0%{width:0px;}
    100%{width:300px;}
}
@-o-keyframes linejoin {
    0%{width:0px;}
    100%{width:300px;}
}

